@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,600;0,800;0,900;1,100;1,200;1,500;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,600&display=swap');

:root{
    --primary-color: #f1c40f;
    --secBg-color: #dfe6e9;
    --font: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}
body{
    background: #F7F7F7;
    padding-left: 170px;
    padding-right: 170px;
}



nav{
    /* display: flex; */
    justify-content: space-between;
    height: 70px;
    margin-top: 40px;
}
/* .logo{
    display: flex;
    align-items: center;
} */
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}
.navbar a{
    text-decoration: none;
    color: #1C1C1C;
    margin: 0 1.5rem;
    transition: .3s;
    position: relative;
    padding-bottom: 2px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.navbar a:hover{
    color: var(--primary-color);
}
.navbar a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: var(--primary-color);
    opacity: 0;
    width: 5%;
    transition: .3s;
}
.navbar a:hover::after{
    opacity: 1;
    width: 100%;
}
.navbar a li{
    list-style: none;
    justify-content: space-between;
}
.ask {
    padding-right: 0px;
   
}
.hr {
    align-items: center;
    width: 100%;
    margin: 0;
}

.blog {
    display: flex; 
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    
}
section {
    align-items: center;
    width: 100%;
    align-items: center; 
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
p {
    font-size: 12px;
    font-weight: 400;
}
.blog1 {
    width: 190px;
   padding: 0;
   margin: 0;
}
.mater {
    padding-left: 0px;
    margin-left: 0px;
}
.blog2 {
    align-items: center;
    vertical-align: super;
    display: flex;
    width: 250px;
}
.blog5 {
    width: 210px;
    padding-right: 0px;
    margin-right: 0px;
}
.btn {
    font-size: 12px;
    font-weight: 600;
    color: #1C1C1C;
    border-bottom: 1px dashed #12C868;
    text-decoration: none;
    
}
.img_blog{
    width: 274px;
   padding-top: 40px;
   
}
.tg {
    padding-right: 14px;
    margin-top: 16px;
}
.watsapp {
    padding-top: 16px;
}
.icon {
    font-size: 12px;
    font-weight: 700;
    color: #1C1C1C;
    text-decoration: none;
    padding-bottom: 15px;
    text-align: center;
    list-style: #12C868;
    margin-bottom: 16px;
}
p{
    padding-bottom: 15px;
}
.tel {
    font-size: 22px;
    font-weight: 700;
    color: #1C1C1C;
}
.online {
    font-size: 12px;
    font-weight: 600;
    color: #12C868;
}
.left {
    clip-path: polygon(0 0, 100% 5%, 100% 99%, 0% 100%);
    width: 225px;
    background-color: #fff;
    padding-top: 60px;
    align-items: center;
    text-align: center;
    padding-left: 40px;
    margin-right: 70px;
    padding-right: 40px;
    margin-bottom: 150px;
}
.project {
    font-size: 14px;
    text-align: center;
    padding-bottom: 48px;
    width: 143px;
    align-items: center;
}
.title {
    font-size: 55px;
    
}
.banner {
  width: 1100px;
  display: flex;
}
.rectangle {
    display: flex;
    align-items: center;
    
}
.rec1 {
    padding-bottom: 30px;
}
.key {
    font-size: 32px;
    font-weight: 400;
    padding-left: 16px;
  
}
.rec1 {
    padding-top: 30px;
    padding-right: 7px;
}
.rec2 {
    padding-right: 7px;
}
.rec3 {
    padding-right: 7px;
}

.rec4 {
    /* padding-top: 20px; */
}
.button {
    padding: 27px 53px 27px 53px;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    background-color: #12C868;
    border: none;
    margin-right: 18px;
}
.btn-icon {
    padding-left: 40px;
    align-items: center;
    padding-top: 10px;
}
.link{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.div {
    display: flex;
}
.button1 {
    padding: 27px 53px 27px 53px;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    background-color: #F38120;
    border: none;
    margin-right: 18px;
}
.help {
    padding-top: 38px;
    display: flex;
    width: 280px;
}
.hand {
    font-size: 14px;
    padding-left: 16px;
    text-align: center;
}
